logs/
A Secure Architecture for ML-Enforced Attack Mitigation in Wireless Sensor Networks.doc
__pycache__/
*.pyc
Journal of Sensors - 2016 - Almomani - WSN‐DS  A Dataset for Intrusion Detection Systems in Wireless Sensor Networks (1).pdf
Attack algorithm/
